{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Formation Access Niveau 1</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Gestion de base de données</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>En Savoir Plus</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('assets/img/Formations/access-logo.png') }}" class="img-fluid" alt="Access Niveau 1">
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="details" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2><strong>OBJECTIFS</strong></h2>
                            <p><em>Connaître les concepts de base des SGBDR. Construire et exploiter une base de données relationnelles simple.</em></p>
                            <h2 class="mt-4"><strong>CONTENU</strong></h2>
                            <p>
                                • Présentation des concepts d’un système de gestion de base de données relationnelles,<br>
                                • Définitions et vocabulaire spécifiques,<br>
                                • Création d’une base de données relationnelle simple :<br>
                                – Analyse et conception,<br>
                                – Structures des tables,<br>
                                – Les différents types de relation entre tables,<br>
                                – Mise en pratique : création des tables, clés primaires, index et relations,<br>
                                – Contrôle de la saisie et de l’intégrité des données (Masques, formats),<br>
                                • Les Formulaires :<br>
                                – Création avec et sans l’assistant,<br>
                                – Mise en page et modifications manuelles,<br>
                                – Ajout de champs calculés,<br>
                                – Utilisation des sous-formulaires,<br>
                                • Les différents types de requêtes :<br>
                                – Sélection de données (sur une et plusieurs tables),<br>
                                – Actions (ajout, suppression et mise à jour de données, création de tables),<br>
                                • États :<br>
                                – Création, mise en page, modifications, éditions,<br>
                                – Regroupement des informations avec ajout de calculs statistiques,<br>
                                • Utilisation de l’aide.
                            </p>
                            <h2 class="mt-4"><strong>LOGICIEL</strong></h2>
                            <p style="padding-left:30px;">Access (versions 2007, 2010, 2013, 2016)</p>
                            <h2 class="mt-4"><strong>DURÉE</strong></h2>
                            <p style="padding-left:30px;">3 journées</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
