{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Formation Macros et Programmation VBA</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Découverte de la programmation VBA pour automatiser vos tâches dans Excel</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>En Savoir Plus</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('assets/img/Formations/excel-logo.png') }}" class="img-fluid" alt="VBA Macros">
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="details" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2><strong>OBJECTIFS</strong></h2>
                            <p><em>Découverte de la programmation VBA pour la réalisation de macros dans Excel.<br>
                                    Être capable de créer ses propres macros pour automatiser la création, l’utilisation ou la mise à jour de tableaux.</em></p>
                            <h2 class="mt-4"><strong>CONTENU</strong></h2>
                            <p>
                                • Présentation des macros (définition, rôle, utilité, etc),<br>
                                • Programmation en Visual Basic :<br>
                                – Eléments du langage VisualBasic,<br>
                                – Structure d’un programme,<br>
                                – Types de données,<br>
                                – Opérateurs,<br>
                                – Présentations des objets et de leurs propriétés,<br>
                                – Les boucles,<br>
                                – Les conditions,<br>
                                – Contrôle et débogage,<br>
                                • Création et utilisation de boites de dialogues,<br>
                                • Création et utilisation de formulaires (UserForm)<br>
                                • Réalisation de macros :<br>
                                – D’actualisation de données, de calcul, de mise à jour de graphiques,<br>
                                – Contrôle de saisie,<br>
                                – De formatage de cellules,<br>
                                – De gestion de feuilles de calculs et de classeurs,<br>
                                – Procédures événementielles,<br>
                                – « Déboguer » une macro<br>
                                – Exécuter en pas à pas, poser des points d’arrêts,<br>
                                – Contrôler les valeurs contenues dans les variables.
                            </p>
                            <h2 class="mt-4"><strong>LOGICIEL</strong></h2>
                            <p style="padding-left:30px;">Excel (versions 2003, 2007, 2010, 2013, 2016)</p>
                            <h2 class="mt-4"><strong>DURÉE</strong></h2>
                            <p style="padding-left:30px;">3 journées</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
