{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

        <section id="hero" class="hero d-flex align-items-center">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-6 d-flex flex-column justify-content-center">
                                        <h1 data-aos="fade-up">Créer un site web à moindre coût</h1>
                                        <h2 data-aos="fade-up" data-aos-delay="400">Utilisez des logiciels libres pour développer votre présence en ligne</h2>
                                        <div data-aos="fade-up" data-aos-delay="600">
                                                <div class="text-center text-lg-start">
                                                        <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                                                <span>En Savoir Plus</span>
                                                                <i class="bi bi-arrow-right"></i>
                                                        </a>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                                        <img src="{{ asset('assets/img/Formations/wordpress-6942722_960_720.webp') }}" class="img-fluid" alt="Website Creation">
                                </div>
                        </div>
                </div>
        </section>

        <main id="main">
                <section id="details" class="about">
                        <div class="container" data-aos="fade-up">
                                <div class="row gx-0">
                                        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                                                <div class="content">
                                                        <h2 class="has-luminous-vivid-orange-color has-text-color wp-block-heading">Objectifs</h2>
                                                        <p>Créer un site web à moindre coût avec des logiciels libres</p>

                                                        <h2 class="has-luminous-vivid-orange-color has-text-color wp-block-heading">Contenu</h2>
                                                        <p>Descriptif du processus de création d’un site web :<br>– Déposer un nom de domaine<br>– Trouver un hébergeur pour son site<br>– Définir l’arborescence du site<br>– Création du site<br>– Mise en ligne<br>– Référencement<br>– Administration (actualisation, suivi, évolutions…)</p>
                                                        <p>Création du site :<br>– Choisir le thème du site<br>– Charte graphique : en-tête, arrière-plan, typographie, couleurs<br>– Les menus<br>– Les widgets</p>
                                                        <p>Création des pages :<br>– Saisie et mise en forme des textes.<br>– Insertion de médias (images, vidéos, sons,…)</p>
                                                        <p>Liens hypertextes :<br>– entre les pages du site,<br>– Vers d’autres sites Web<br>– Vers une adresse de messagerie électronique,<br>– Vers des fichiers (images, sons, vidéos, textes, etc.)</p>
                                                        <p>Création de formulaires de contact</p>
                                                        <p>Création d’articles (blog)<br>– Gestion des comptes utilisateurs<br>– Autorisation et gestion des commentaires</p>
                                                        <p>Utiliser et gérer un tableau de bord</p>
                                                        <p>Définir les réglages</p>
                                                        <p>Ajouter des mots clés.</p>
                                                        <p>Liens avec les réseaux sociaux (Facebook, Twitter…)</p>
                                                        <p>Travail spécifique sur les images avec un logiciel libre<br>– Description des principaux formats d’image (JPG, PNG, GIF, PDF)<br>– Incidence des propriétés des images sur l’espace d’hébergement et la vitesse d’affichage.<br>– Préparation des images avant le transfert sur le site (recadrage, résolution, format, taille).<br>– Apprentissage des fonctions de base d’un logiciel de retouche d’images.</p>

                                                        <h2 class="has-luminous-vivid-orange-color has-text-color wp-block-heading">Durée</h2>
                                                        <p>21 heures, soit 3 jours de formation</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </section>
        </main>
{% endblock content %}
