{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Initiation à l'utilisation de la navigation et de la messagerie électronique</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Apprenez à utiliser les applications courantes de l’internet : navigation et messagerie.</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>En Savoir Plus</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('assets/img/Formations/internetemail.png') }}" class="img-fluid" alt="Internet and Email">
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="details" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Initiation à l’utilisation de la navigation et de la messagerie électronique</h2>

                            <h3>OBJECTIFS</h3>
                            <p><em>Savoir utiliser les applications courantes de l’internet : navigation et messagerie.</em></p>

                            <h3>CONTENU</h3>
                            <p>• Navigation :<br>
                                – Consultation d’informations,<br>
                                – Utilisation des favoris,<br>
                                – L’historique,<br>
                                – Présentation de sites utiles,<br>
                                – Utilisation des moteurs de recherches,<br>
                                – Panorama des différents moteurs de recherche,<br>
                                – Optimisation des recherches,<br>
                                • Messagerie électronique :<br>
                                – Envoi/réception de messages,<br>
                                – Utilisation du carnet d’adresses,<br>
                                – Les pièces jointes,<br>
                                – Compression des pièces jointes,<br>
                                – Les différents paramétrages du logiciel de messagerie,<br>
                                – WEB MAIL (laposte.net, hotmail, gmail),<br>
                                • Téléchargement de Fichiers,<br>
                                • Plug-Ins : (Adobe Acrobat Reader, Quicktime, Flash Player…)</p>

                            <h3>DUREE</h3>
                            <p style="padding-left:30px;">1 journée de formation</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
