{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique | 03000 Moulins{% endblock title %}
{% block content %}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Comprendre le fonctionnement d’un ordinateur en réseau</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Découvrez comment partager des ressources en réseau</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>En Savoir Plus</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('assets/img/Formations/network.png') }}" class="img-fluid" alt="Comprendre le fonctionnement d’un ordinateur en réseau">
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="details" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2><strong>OBJECTIFS</strong></h2>
                            <p><em>Comprendre le fonctionnement d’un ordinateur en réseau et le partage de ressources (données et matériels).</em></p>

                            <h2 class="mt-4"><strong>CONTENU</strong></h2>
                            <ul>
                                <li>Présentation de l’architecture d’un réseau informatique</li>
                                <li>Notions de domaines, clients, serveur, réseau, groupes résidentiels</li>
                                <li>Notions sur le protocole TCP/IP et les adresses IP</li>
                                <li>Paramétrer le partage de données</li>
                                <li>Paramétrer le partage d’imprimante ou de supports de stockage</li>
                                <li>Tester une connexion</li>
                                <li>Connecter un lecteur réseau</li>
                                <li>Identifier les problèmes de connexions</li>
                                <li>Gestion des mots de passe réseau</li>
                                <li>Sécurisation des partages</li>
                            </ul>

                            <h2 class="mt-4"><strong>DUREE</strong></h2>
                            <p>1 journée</p>

                            <h2 class="mt-4"><strong>PRE-REQUIS</strong></h2>
                            <p>Connaissance de base de l’environnement Windows</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
