{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Particulier ou professionnel, nous avons la solution adaptée à vos besoins informatiques</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Notre équipe de techniciens qualifiés sera prête à répondre à vos besoins</h2>
                </div>
            </div>
        </div>

    </section>


{% endblock content %}