{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}

    <section id="about" class="hero about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 py-5">
                    <h2 class="text-center mb-4">Notre Histoire</h2>
                    <p>
                        Tertio Informatique incarne une histoire dynamique, façonnée par des transformations
                        continues, un engagement indéfectible et des partenariats durables.
                    </p>

                    <h3 class="mt-4">Notre Évolution</h3>
                    <p>
                        Fondée en 1996 sous le nom de TERTIAIRE 03, notre entreprise a évolué pour devenir la
                        SARL SCOP TERTIAIRE FORMATION CONSEIL en 2002. Tout au long de notre parcours,
                        nous avons mis l'accent sur l'excellence, l'adaptabilité et l'engagement envers nos clients.
                        En 2020, l'acquisition de Joly Informatique a marqué le début d'une nouvelle ère pour notre
                        entreprise, confortant notre champ d'action pour offrir à nos clients une double expertise en
                        solutions informatiques et en formation.
                    </p>

                    <h3 class="mt-4">Notre Nouvelle Identité</h3>
                    <p>
                        En 2024, nous franchissons une étape majeure en adoptant une nouvelle identité : Tertio. Ce
                        changement illustre notre engagement envers l'avenir, tout en honorant notre héritage et les
                        valeurs fondamentales qui nous définissent : fiabilité, confiance, efficacité et proximité.
                    </p>

                    <h3 class="mt-4">Notre Engagement</h3>
                    <p>
                        Ce troisième chapitre s'ouvre sur des fondations solides, forgées par les deux précédents.
                        Notre slogan, "La preuve par trois", reflète notre engagement à fournir des solutions qui
                        dépassent les attentes, en mettant en avant trois piliers essentiels : qualité, engagement et
                        résultats. À chaque interaction, nous nous efforçons de démontrer notre valeur à nos clients
                        en leur offrant un service basé sur ces principes fondamentaux.
                    </p>

                    <h3 class="mt-4">Notre Promesse</h3>
                    <p>
                        Ainsi, avec Tertio, vous bénéficiez non seulement d'une expertise technique de premier
                        ordre, mais également d'un partenariat basé sur la confiance et la fiabilité. Nous sommes là
                        pour vous accompagner à chaque étape de votre développement, en vous offrant des
                        solutions efficaces et personnalisées qui répondent à vos besoins spécifiques.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="timeline" class="py-5">
        <div class="container">
            <h2 class="text-center mb-5">Notre Parcours</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row g-5">
                        <div class="col-md-6 col-lg-3">
                            <div class="card h-100" style="border: 2px solid #0e385e;">
                                <div class="card-header text-white" style="background-color: #0e385e;">1996</div>
                                <div class="card-body">
                                    <h5 class="card-title">TERTIAIRE 03</h5>
                                    <p class="card-text">Fondation et Début de l'aventure</p>
                                    <p class="card-text">Organisme de formations</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card h-100" style="border: 2px solid #cc5075;">
                                <div class="card-header text-white" style="background-color: #cc5075;">2002</div>
                                <div class="card-body">
                                    <h5 class="card-title">TERTIAIRE FORMATION CONSEIL</h5>
                                    <p class="card-text">Evolution de l'offre d</p>
                                    <p class="card-text">Organisme de formations et Services Informatique</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card h-100" style="border: 2px solid #c85c15;">
                                <div class="card-header text-white" style="background-color: #c85c15;">2020</div>
                                <div class="card-body">
                                    <h5 class="card-title">JOLY INFORMATIQUE</h5>
                                    <p class="card-text">Reprise</p>
                                    <p class="card-text">SS2I et Formation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card h-100" style="border: 2px solid #ebba41;">
                                <div class="card-header text-white" style="background-color: #ebba41;">2024</div>
                                <div class="card-body">
                                    <h5 class="card-title">TERTIO</h5>
                                    <p class="card-text">Fusion</p>
                                    <p class="card-text">SS2I et Formation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}