{% block clients %}

<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Nos Clients</h2>
            <p>Ils nous font confiance :</p>
        </header>

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                {% for client in randomClients %}
                    <div class="swiper-slide">
                        <img src="{{ asset(client) }}" class="img-fluid" alt="Client Logo">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
{% endblock clients %}