{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique - Traitement de texte : Notions de base {% endblock title %}
{% block content %}
    <section id="pdf-viewer" class="hero pdf-viewer d-flex align-items-center justify-content-center" style="padding-top: 500px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-4">Traitement de texte : Notions de base</h1>
                    <div class="pdf-container" data-aos="fade-up">
                        <object data="{{ asset("assets/pdf/formations/bureautique/Fiche formation 2024-Traitement de texte-Notions de base.pdf") }}" type="application/pdf" width="100%" height="1000px">
                            <img src="{{ asset("assets/img/Formations/bureautique/Fiche formation 2024-Traitement de texte-Notions de base-1.png") }}" alt="Traitement de texte : Notions de base" width="100%">
                        </object>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}