{% extends 'base.html.twig' %}

{% block title %}Tertio Informatique | Mentions Légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            margin-bottom: 20px;
            transition: all 0.3s ease;
        }
        .card:hover {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container initial-content-marge">
        <h1 class="text-center mb-5">Mentions Légales</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Tertio Informatique</h2>
                        <address>
                            28 RUE DES CHAMPINS<br>
                            03000 MOULINS<br>
                            Tél. : 04 70 20 10 88
                        </address>
                        <p><strong>SIRET :</strong> 44026587400055</p>
                        <p><strong>TVA intracommunautaire :</strong> FR44440265874</p>
                        <p><strong>Société :</strong> Société coopérative exploitée sous forme de SARL</p>
                        <p><strong>APE :</strong> 8559A (Formation continue d'adultes)</p>
                        <p><strong>Date de création :</strong> 03-01-2002</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Editeur du site internet</h3>
                        <p>Tertio Informatique</p>
                        <p><strong>Responsable de publication :</strong> M.Dominique MAUREL</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Réalisation du site internet et hébergement</h3>
                        <p>RyveWeb</p>
                            2Bis Rue de la croix notre dame, 63170 Pérignat-lès-Sarliève<br>
                            Tél. : 06 40 38 00 06
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Mise en garde</h3>
                <p class="card-text">Aucune information apparaissant sur le présent site, nécessairement simplifiée, ne saurait être considérée comme une offre contractuelle de services ou de produits. L'éditeur du site internet décline toute responsabilité quant au contenu du site et à l'utilisation qui pourrait en être faite par quiconque. Toute personne désirant se procurer un produit ou un service décrit dans le site doit contacter l'éditeur du site internet pour s'informer de sa disponibilité, des conditions contractuelles et des tarifs qui lui sont applicables.</p>
                <p class="card-text">Tout visiteur du site est considéré comme acceptant l'application des lois françaises. Les messages que vous pouvez nous adresser transitant par un réseau ouvert de télécommunication, nous ne pouvons assurer leur confidentialité. Pour tous messages à caractère confidentiel, nous vous invitons à contacter directement l'éditeur du site internet.</p>
                <p class="card-text">En aucun cas, l'éditeur du site internet ne saurait accepter de recevoir par messagerie électronique non sécurisée des instructions pour exécuter une opération bancaire ou financière nécessitant un ordre écrit et signé.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Politique de liens</h3>
                <p class="card-text">L'établissement d'un lien hypertexte vers le présent site nécessite une autorisation préalable de l'éditeur du site internet. Dans ce cas il vous est possible de prendre contact avec nous. La mise en place d'un lien hypertexte après autorisation pourra être valable sur différents supports, à l'exception de ceux diffusant des informations à caractère politique, religieux, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre, ou encore contraires aux dispositions légales et bancaires en vigueur.</p>
                <p class="card-text">A cet égard, l'éditeur du site internet se réserve un droit d'opposition sur tout lien mis en place sans son autorisation et pouvant porter atteinte à son image, ses activités, ses valeurs, sa réputation, ou sa notoriété. Tout établissement de lien hypertexte accepté par l'éditeur du site internet doit se faire dans une fenêtre entière avec l'URL https://www.tert.io/.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Informatique et Libertés</h3>
                <p class="card-text">Les informations nominatives recueillies par le biais de la messagerie électronique ou d'opérations promotionnelles sont destinées à l'éditeur du site internet à des fins de promotion. Elles ne feront l'objet de communications extérieures que pour les seules nécessitées de la gestion ou pour satisfaire aux obligations légales et réglementaires.</p>
                <p class="card-text">Ces informations pourront donner lieu à l'exercice du droit d'accès et de rectification dans les seules conditions prévues par la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, par l'intermédiaire des services ayant recueilli les informations demandées. Ce droit d'accès peut s'exercer auprès de la responsable de publication du site internet.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Droits d'auteur - Copyright</h3>
                <p class="card-text">Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations photographiques. La reproduction de tout ou partie de ce site, sur quelque support que ce soit, est formellement interdite sauf autorisation expresse des responsables de publication du site internet. Les documents ne peuvent faire l'objet de copies qu'à titre d'information, la copie étant réservée au seul usage privé.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Utilisation des cookies</h3>
                <p class="card-text">Notre site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs.</p>
                <p class="card-text">Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet.</p>
                <p class="card-text">Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google.</p>
                <p class="card-text">Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.</p>
            </div>
        </div>
    </div>
{% endblock %}